@import "tailwindcss";

@theme {
  --color-primary: #0066DA;
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
  --font-playfair: var(--font-playfair);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
}